@charset "UTF-8";

/* 全体の枠 */
.waku {

	width:60%;
	margin:0 auto;

}

/* 記念日一覧のタイトル */
.annivTitle h2{
	display:block;
	font-size: 1.2rem;
	margin: 10px 0px 0px;
}

/* 記念日一覧の枠*/
.annivList {

	border: 1px solid #000000;
	margin: 0px;
	padding: 10px;

}

/* 修正ボタンと記念日名を横並びにさせる */
.yoko {
	display: flex;
	justify-content: leftr;
}

/* 修正ボタン */
.toForm{
    width:30px;
    height:18px;
    line-height:20px;
    margin-left: 10px;
}

.toForm a{
    display:block;
    width:100%;
    height:100%;
    text-decoration: none;
    background:#FFFFFF;
    text-align:center;
    border:1px solid #7F7F7F;
    color:#7F7F7F;
    font-size:10px;
    font-weight:bold;
}
.toForm a:hover{
    background:#DEDEDE;
    color:#7F7F7F;
    margin-left:0px;
    margin-top:0px;
    border:1px solid #7F7F7F;
    box-shadow:none;
}

/* メニューでホームのボタン */
.menuHome{
    width:120px;
    height:30px;
    line-height:30px;
    float:left;
    margin-top:10px;
    margin-right: 5px;
}
.menuHome a{
    display:block;
    width:100%;
    height:100%;
    text-decoration: none;
    background:#FFFFFF;
    text-align:center;
    border:1px solid #000000;
    color:#000000;
    font-size:12px;
    font-weight:bold;
}
.menuHome a:hover{
    background:#DEDEDE;
    color:#000000;
    margin-left:0px;
    margin-top:0px;
    border:1px solid #000000;
    box-shadow:none;
}